/* Common card styles */
.cards {
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .title {
    font-size: 2rem;
    margin: 0; 
    color: #007bff; 
  }

  .country-title, .capital-title {
    font-size: 1.5rem;
  }
  
  .easy {
    background-color: #a1fcb7; 
  }
  
  .medium {
    background-color: #fff5a8; 
  }
  
  .hard {
    background-color: #ff9da5; 
  }
  
  button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 480px) {
    .cards {
      width: 150px;
    }

    .title {
      font-size: 1.3rem;
    }

    .country-title, .capital-title {
      font-size: 0.9rem; 
    }
  
    button {
      padding: 6px 12px; 
      font-size: 0.8rem; 
    }
  }